job('deploy_hex7') {
    scm {
        git {
            remote {
                url('git@github.com:nand0p/hex7.git')
                branch('master')
            }
            wipeOutWorkspace()
        }
    }
    steps {
        shell('echo "ship it"')
    }
}
